<!--Primary buttons
<a class="button button-primary" href="#">Anchor button</a>
<input class="button-primary" type="button" value="button input">

FORMS
-->
<!DOCTYPE html>
<html>
  <head>
    <title>gurgl</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
<body>
   <div id="page">
      <img src="/images/gurglLogo.svg" alt="Gurgl Logo" />
      <div class="container">
         <form>
            <div class="row">
               <div class="six columns">
                  <label for="nameInput">Name</label>
                  <input class="u-full-width" type="text" placeholder="Mia Nameo" id="nameInput">
               </div>

               <div class="six columns">
                  <label for="exampleEmailInput">Email</label>
                  <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
               </div>
            </div>
            <div class="row">
               <div class="six columns">
                  <label for="phoneInput">Phone</label>
                  <input class="u-full-width" type="tel" placeholder="012 345 6789" id="phoneInput">
               </div>

               <div class="six columns">
                  <label for="addressInput">Address</label>
                  <input class="u-full-width" type="text" placeholder="1 Home Place, Welivehere, Wellington" id="addressInput">
               </div>
            </div>
            <div class="row">
               <div class="twelve columns">
                  <input class="PButton" type="submit" value="Submit">
               </div>
            </div>
         </form>
      </div>
   </div>
</body>
</html>


<!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it

Note: The class .u-full-width is just a utility class shorthand for width: 100%

</div>
<label for="exampleMessage">Message</label>
<textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
<label class="example-send-yourself-copy">
  <input type="checkbox">
  <span class="label-body">Send a copy to yourself</span>
</label>

<div class="six columns">
  <label for="exampleRecipientInput">Reason for contacting</label>
  <select class="u-full-width" id="exampleRecipientInput">
    <option value="Option 1">Questions</option>
    <option value="Option 2">Admiration</option>
    <option value="Option 3">Can I get your number?</option>
  </select>
</div>

-->
