<!DOCTYPE html>
<html>
  <head>
    <title>gurgl</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
     <div id="page">
        <img src="/images/gurglLogo.svg" alt="Gurgl Logo" />
       <h1><b>Hi! Welcome to Gurgl</b></h1>
       <h2>Your new used-clothing library for infants</h2>
       <h3><em>Our site is currently in production.</em></h3>
       <h3><em>So check back soon to find out more about the launch<br> of this exciting new service.</em></h3>
         <p>
         If you'd like to be the first to know about when we are ready to rock and roll, please click below and fill in your details.
         We will send you a membership number via email and you'll be contacted as soon as we are open for business!
         </p>
         <p>
         <input type="button" name="Sign Up Now" value="Yes please, I'd like to sign up now">
         </p>
         <p>
            <em>Gurgl is a not for profit organisation.</em>
         </p>
      </div>
  </body>
</html>
